h2 {
  justify-content: center;
  align-items: center;
  color:whitesmoke;
  background-color: tomato;
  text-align: center;
  padding: 5px 20px;
  font-weight: 300;
}

h3 {
  font-weight: 400;
  font-style: oblique;
  margin-bottom: 10px;
}

.animal-wrapper {
  border:solid black 1px;
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
  /* margin-left: 0px; */
}
/* .animal-wrapper ~ .animal-wrapper {
  margin-left: 10px;
}  */
.animal-wrapper > div,
.animal-wrapper > h4 {
  padding-bottom: 5px;
  margin:0;
}

.animal-wrapper > h2 {
  margin: 0;
}
